# Introduction

Python is high-level programming Language, that is,
Easy to Code
Free and Open Source
Object Oriented Language
Interpreted Language
Portable
Dynamically Typed

# **Python Indentation**
Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [1]:
if 7 > 5:

  print('7 is greater than 5')

7 is greater than 5

# **Python Variables**
In Python, variables are created when you assign a value to it

In [2]:
x = 3 #integer
print(type(x))
name = 'John' #string #"John"
print(type(name))
marks = 75.5  #float
print(type(marks))
#assigning multiple values
x, y, z = "Toyota", "Hyundai", "Jaguar"
print(x)
print(y)
print(z)

<class 'int'>
<class 'str'>
<class 'float'>
Toyota
Hyundai
Jaguar

# **Comments**

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

Comments starts with a #, and Python will ignore them

In [27]:
# this is an example of single line comment
# this code add two numbers

c = 5+7
print(c)

"""
this is an example of multi line comment.
this code adds two numbers.
"""

c = 5 
print(c)

12
5

# **Taking input in python**

input()

In [28]:
name = input("Enter your name") #string
marks = int(input("Enter marks in Maths")) #integer input

Enter your nameIshpreet
Enter marks in Maths78

# **Output Formatting**

In [29]:
print(name, 'studies Data Science')
print("{} studies Data Science".format(name))

Ishpreet studies Data Science
Ishpreet studies Data Science

# **Casting**

used to specify the data type of a variable.

In [6]:
x = str(3)    # x will be '3'
print(type(x))
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(z)
print(type(z))

<class 'str'>
3.0
<class 'float'>

# **Get the Type**

to get the data type of a variable with the type() function

In [7]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# **Python Numbers**

There are three numeric types in Python:

int

float

complex

Variables of numeric types are created when you assign a value to them:

In [8]:
#integer
x = 1
y = 35656222554887711
z = -3255522
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [9]:
#float
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [31]:
#complex
# 3 + 5i
# 1 ^ 1/2 


x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# **Boolean Values**

Used need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When comparing two values, the expression is evaluated and Python returns the Boolean answer:

In [11]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

# **Slicing**

Returns a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [36]:
"""
slice syntax [start:end:step]
Default 
start = 0
end = length
step = 1
"""

b = "Artificial Inteligence"
print(len(b))
print(b[2:5]) #start and end index specified

print(b[:5]) #slice from the start

print(b[2:]) #slice till the end

print(b[-5:-2]) #negative index

print(b[::-1]) #reverse

22
tif
Artif
tificial Inteligence
gen
ecnegiletnI laicifitrA

# **Modify Strings**

Python has built in methods that can be used on strings

In [32]:
a = 'Data Science'
print(a.upper()) #returns all charatcers in upper case
print(a.lower()) #return all charcters in lower case

name = " Tony Stark "
print(name.strip()) #removes leading and trailing spaces

print(name.replace("T", "P"))#replaces T with P

fruits = "apple, mango, banana"
print(fruits.split(","))

#concatenate
first_name = 'Tony'
last_name = 'Stark'
name = first_name + " " + last_name
print(name)

DATA SCIENCE
data science
Tony Stark
 Pony Stark
['apple', ' mango', ' banana']
Tony Stark

# **Operators**

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

# **Operator Types**

Arithmetic operators

Comparison (Relational) operators

Logical (Boolean) operators

Bitwise operators

Assignment operators

Special operators

# **Arithmetic Operators**

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

+ , -, *, /, %, //, **  are arithmetic operators

In [14]:
x, y = 10, 20
#sum = x + y 
add = x + y
#addition
print("Sum of x and y",x + y)

#subtraction(-)
print("Difference between x and y", x - y)

#multiplication(*)
print(x * y)

#division(/)
z = 5/2
print(z)

#modulo division (%)
print(10%3)

#Floor Division (//)
z = 5//2
print(z)

#Exponent (**)
print(7**2)

Sum of x and y 30
Difference between x and y -10
200
2.5
1
2
49

# **Comparision Operators**

Comparison operators are used to compare values. It either returns True or False according to the condition.

>, <, ==, !=, >=, <= are comparision operators

In [15]:
a, b = 10, 20         

print("a is less than b", a < b)  #check a is less than b

#check a is greater than b
print("a is greater than b", a > b)

#check a is equal to b
print("a is equal to b", a == b)

#check a is not equal to b (!=)
print("a is not equal to b (!=)", a != b)

#check a greater than or equal to b
print("a greater than or equal to b", a >= b)

#check a less than or equal to b
print("a less than or equal to b", a <= b)

a is less than b True
a is greater than b False
a is equal to b False
a is not equal to b (!=) True
a greater than or equal to b False
a less than or equal to b True

# **Logical Operators**

Logical operators are and, or, not operators.

In [16]:
a, b = True, False

#print a and b
print("a and b", a and b)

#print a or b
print("a or b", a or b)

#print not b
print("not b", not b)

a and b False
a or b True
not b True

# **Bitwise operators**

Bitwise operators act on operands as if they were string of binary digits. It operates bit by bit

&,  |,  ~,  ^,  >>,  << are Bitwise operators

In [17]:
a, b = 10, 4

#Bitwise AND
"""
10 = 1010
4  = 0100
And  0000
"""
print("Bitwise AND", a & b)

#Bitwise OR
"""
10 = 1010
4  = 0100
OR   1110
"""
print("Bitwise OR", a | b)

#Bitwise NOT
"""
4  = 0100
NOT  1011
"""
print("Bitwise NOT", ~ b)

#Bitwise XOR
"""
10 = 1010
4  = 0100
XOR  1110
"""
print("Bitwise XOR", a ^ b)

#Bitwise rightshift
"""
10 = 1010
Right Shift  _101
fills blank spaces with 0
"""
print("Bitwise Rightshift", a>>1)

#Bitwise Leftshift
"""
4  = 0100
Left Shift  100_
fills blank spaces with 0
"""
print("Bitwise Leftshift", b<<1)

Bitwise AND 0
Bitwise OR 14
Bitwise NOT -5
Bitwise XOR 14
Bitwise Rightshift 5
Bitwise Leftshift 8

# **Assignment operators**

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

=,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  |=,  ^=,  >>=,  <<= are Assignment operators

In [37]:
a = 10
a = a + 10
a += 10         #add AND
print(a)

#subtract AND (-=)
a -= 10
#Multiply AND (*=)

#Divide AND (/=)

#Modulus AND (%=)

#Floor Division (//=)

#Exponent AND (**=)

SyntaxError: invalid syntax (<ipython-input-37-74808497321e>, line 7)

# **Special Operators**

Identity Operators

is and is not are the identity operators in Python.

They are used to check if two values (or variables) are located on the same part of the memory.

In [38]:
a = 5
b = 4
print(a is b)    #5 is object created once both a and b points to same object
print(a == b)

False
False

In [20]:
s1 = "Satish"
s2 = "Satish"
print(s1 is not s2)

False

# **MemberShip Operators**

in and not in are the membership operators in Python.

They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In [21]:
lst = [1, 2, 3, 4]
print(1 in lst)       #check 1 is present in a given list or not

True

In [22]:
d = {1: "a", 2: "b"}
print(1 in d)

True

In [24]:
print('Hello All')

Hello All