<a href="https://colab.research.google.com/github/Kartika-KV/Python/blob/main/Datatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input("Enter any number "))           # 4 ,-1,5 -2

Enter any number -2

In [ ]:
if (x < 0):
  print("Negative Number")
else:
  print("Positive Number ")

Negative Number

In [ ]:
print("Hello World")

Hello World

In [ ]:
x=input()
print("the value entered is ",x)

Aman
the value entered is  Aman

In [ ]:
x=int(input())
print("the value entered is ",x)

58
the value entered is  58

In [ ]:
type(x)

int

In [ ]:
PI=3.142

In [ ]:
ConstPi=3.142

In [ ]:
4+5

9

In [ ]:
Number1=34    #integer
print(type(Number1))

<class 'int'>

In [ ]:
Number1=34.56 # float or decimal or real
type(Number1)

float

In [ ]:
Number1='A' #char
type(Number1)

str

In [ ]:
Number1='Aman' #string
type(Number1)

str

In [ ]:
Number1=True #boolean
type(Number1)

bool

In [ ]:
PI=3.143
raduis=float(input("Enter value of raduis of cylinder "))
height=int(input("Enter value of height of cylinder"))
volume=PI*raduis*raduis*height
print("Volume of Cylinder is ",volume)

Enter value of raduis of cylinder 5
Enter value of height of cylinder6
Volume of Cylinder is  471.45000000000005

In [ ]:
length=int(input())
area=length*length
print(area)

4
16

In [ ]:
Total=0
Marks=0
Counter=-1
print("Enter marks, 999 to finish")

Enter marks, 999 to finish

In [ ]:
Number1=25
type(Number1)

int

In [ ]:
Number2=35.6
type(Number2)

float

In [ ]:
Number3='Rahul'
type(Number3)

str

In [ ]:
Number4=True
type(Number4)

bool

In [3]:
age=int(input("Enter Age "))
if age>17:
  print("You are adult")
else:
  print("You are child")

Enter Age 4
You are child

In [5]:
number=int(input("Enter Number "))
if number>=100:
  print("Number is Greater than or equal to 100")
else:
  print("Number is lesser than 100 ")

Enter Number 105
Number is Greater than or equal to 100

In [6]:
opvalue=input("Enter Operator ")      # +,-,*,/
number1=int(input("Enter Number1 "))
number2=int(input("Enter Number2 "))
if opvalue=="+":
  ans=number1+number2
elif opvalue=="-":
  ans=number1-number2
elif opvalue=="*":
  ans=number1*number2
elif opvalue=="/":
  ans=number1/number2
else:
  print("Invalid Operator")
print(ans)

Enter Operator +
Enter Number1 4
Enter Number2 5
9