### **Write a function to swap two numbers**

In [3]:
#@title
def swap(num1, num2):
    num1, num2 = num2, num1
    return num1, num2 
num1 = 2
num2 = 3
print(swap(num1, num2))
print(num1, num2)

(3, 2)
2 3

### **Write a program to check if two strings ar anagram or not**

Input : s1 = "listen"

        s2 = "silent"
Output : The strings are anagrams.


Input : s1 = "dad"

        s2 = "bad"
Output : The strings aren't anagrams.

In [4]:
#@title
def check(s1, s2):
     
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.") 
    else:
        print("The strings aren't anagrams.")         
         
 
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.

### **Write a function to check if a year is a leap year or not**

In [5]:
#@title
def checkYear(year):
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                return True
            else:
                return False
        else:
             return True
    else:
        return False
 
# Driver Code 
year = 2000
if(checkYear(year)):
    print("Leap Year")
else:
    print("Not a Leap Year")

Leap Year

### **Write a finction that multiplys the given numbers**

In [6]:
#@title
def mul(*nums):
    product = 1
    for num in nums:
        product *= num

    return product


print(mul(1, 2, 3, 4, 5, 6))

720

### **Write code that sorts the given list of tuples based on the values at second index.**
l = [(1,2,3), (4, 7, 9), (3, 8, 0), (1, 0, 7), (6, 1, 4)]

In [7]:
#@title
l = [(1,2,3), (4, 7, 9), (3, 8, 0), (1, 0, 7), (6, 1, 4)]
l.sort(key = lambda val: val[0])
print(l)
l1 = [((8,2),(8,3)), ((4, 3), (9, 8)), ((3, 1), (9, 8))]
l1.sort(key = lambda val: val[0][1])
l1

[(1, 2, 3), (1, 0, 7), (3, 8, 0), (4, 7, 9), (6, 1, 4)]

[((3, 1), (9, 8)), ((8, 2), (8, 3)), ((4, 3), (9, 8))]

FULLY AUTOMATIC VENDING MACHINE â€“ dispenses your cuppa on just press of button. A vending machine can serve range of products as follows:

Coffee

Espresso Coffee

Cappuccino Coffee

Latte Coffee

Tea

Plain Tea

Assam Tea

Ginger Tea

Cardamom Tea

Masala Tea

Lemon Tea

Green Tea

Organic Darjeeling Tea

Soups 

Hot and Sour Soup

Veg Corn Soup

Tomato Soup

Spicy Tomato Soup

Beverages

Hot Chocolate Drink

Badam Drink

Badam-Pista Drink

Write a program to take input for main menu & sub menu and display the name of sub menu selected in the following format (enter the first letter to select main menu):

Welcome to CCD 

Enjoy your

Example 1:

Input:

c

1

Output

Welcome to CCD!

Enjoy your Espresso Coffee!

Example 2:

Input

t

9

Output

INVALID OUTPUT!

In [8]:
#@title
menu = [['Espresso Coffee','Cappuucino Coffee','Latte Coffee'], ['Plain Tea',

'Assam Tea','Ginger Tea','Cardamom Tea','Masala Tea','Lemon Tea','Green Tea',

'Organic Darjeeling Tea'], ['Hot and Sour Soup','Veg Corn Soup','Tomato Soup',

'Spicy Tomato Soup'], ['Hot Chocolate Drink', 'Badam Drink',

'Badam-Pista Drink']]

m = input()

if m=='c' or m=='t' or m=='s' or m=='b':

    if m=='c':

        submenu = int(input())

        if submenu in range(3):

            print('Welcome to CCD!\nEnjoy your {}!'.format(menu[0][submenu-1]))

        else:

            print("INVALID INPUT")

    if m=='t':

        submenu = int(input())

        if submenu in range(8):

            print('Welcome to CCD!\nEnjoy your {}!'.format(menu[1][submenu-1]))

        else:

            print("INVALID INPUT")

    if m=='s':

        submenu = int(input())

        if submenu in range(4):

            print('Welcome to CCD!\nEnjoy your {}!'.format(menu[2][submenu-1]))

        else:

            print("INVALID INPUT")

    if m=='b':

        submenu = int(input())

        if submenu in range(3):

            print('Welcome to CCD!\nEnjoy your {}!'.format(menu[3][submenu-1]))

        else:

            print("INVALID INPUT")

else:

    print("INVALID INPUT!")

c
2
Welcome to CCD!
Enjoy your Cappuucino Coffee!

### **What will be the output of the following Python code?**

In [9]:
#@title


x = 50
def func():
    global x
    print('x is', x)
    x = 2
    print('Changed global x to', x)
func()
print('Value of x is', x)

x is 50
Changed global x to 2
Value of x is 2

### **What will be the output of the following Python code?**

In [11]:
#@title


def func(b, a = 4, c=10):
    print('a is', a, 'and b is', b, 'and c is', c)
     
func(3, 7)
func(25, c = 24)
func(12, c = 50, a = 100)

a is 7 and b is 3 and c is 10
a is 4 and b is 25 and c is 24
a is 100 and b is 12 and c is 50

In [12]:
num = 1
num = 2
num

2